<li id="micropost-<%= item.id %>">
<%= image_tag(item.picture, size: '218x316')%>
  <span class="user"><div><%= item.name %></div></span>
  <span class="content">
    <div>価格：<%= item.price %>円</div>
  </span>
  <%= link_to "詳細はこちら", url_for(:controller => 'items', :action => 'show', :id => item.id) %>
</li>
