<li id="micropost-<%= item.id %>">
<%= image_tag(item.picture)%>
  <span class="user"><%= item.name %></span>
  <span class="content">
    <%= item.price %>円
  </span>
  <%= link_to "詳細はこちら", url_for(:controller => 'items', :action => 'show', :id => item.id) %>
</li>
