<h1>商品詳細</h1>
<%= image_tag(@item.picture, size: '218x316')%>
<div>商品名：<%= @item.name %></div>
<div>価格：<%= @item.price %>円</div>
<div>在庫：<%= @item.stock %></div>
<h2>商品詳細</h2>
<%= @item.description %>

<% if logged_in? && (current_item = current_user.cart_items.find_by(item_id: @item.id))%>
  <% number_array = [*(1..(10 - current_item.quantity))] %>
<% else %>
  <% number_array = [*(1..10)]%>
<% end %>

<% if @item.stock > 0 %>
  <%= form_for(@cart_items) do |f| %>
    <% if logged_in? %>
      <% if @item.stock < 11 %>
        <% if current_item %>
          <% if current_item.quantity == @item.stock || current_item.quantity == 10 %>
            <h2><div>これ以上商品をカートに追加することができません</div></h2>
          <% else %>
            <% number_array = [*(1..(@item.stock - current_item.quantity))] %>
            <%= f.select :quantity, number_array %>
            <%= f.submit "カートに追加する", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <% number_array = [*(1..@item.stock)] %>
          <%= f.select :quantity, number_array %>
          <%= f.submit "カートに追加する", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <% if current_item %>
          <% if current_item.quantity == 10 %>
            <h2><div>これ以上商品をカートに追加することができません</div></h2>
          <% else %>
            <% number_array = [*(1..(10 - (current_item.quantity)))] %>
            <%= f.select :quantity, number_array %>
            <%= f.submit "カートに追加する", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <% number_array = [*(1..10)] %>
          <%= f.select :quantity, number_array %>
          <%= f.submit "カートに追加する", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% else %>
      <% if @item.stock < 11 %>
        <% number_array = [*(1..(@item.stock))] %>
        <%= f.select :quantity, number_array %>
        <%= f.submit "カートに追加する", class: "btn btn-primary" %>
      <% else %>
        <% number_array = [*(1..10)] %>
        <%= f.select :quantity, number_array %>
        <%= f.submit "カートに追加する", class: "btn btn-primary" %>
      <% end %>
    <% end %>
        <% if logged_in? %>

    <% end %>
    <%= hidden_field_tag 'cart_item[id]', @item.id %>
    <%= hidden_field_tag 'cart_item[hash_id]', @item_id %>
  <% end %>
<% else %>
  <h2><div>在庫がありません</div></h2>
<% end %>
