<h1>商品詳細</h1>
<%= image_tag(@item.picture, size: '218x316')%>
<div>商品名：<%= @item.name %></div>
<div>価格：<%= @item.price %>円</div>
<div>在庫：<%= @item.stock %></div>
<h2>商品詳細</h2>
<%= @item.description %>

<% if logged_in? && (current_item = current_user.cart_items.find_by(item_id: @item.id))%>
  <% number_array = [*(1..(10 - current_item.quantity))] %>
<% else %>
  <% number_array = [*(1..10)]%>
<% end %>

<% if @item.stock > 0 %>
  <%= form_for(@cart_items) do |f| %>
    <% if logged_in? %>
      <% if @item.stock < 11 %>
        <% if current_item %>
          <% number_array = [*(1..(@item.stock - current_item.quantity))] %>
        <% else %>
          <% number_array = [*(1..@item.stock)] %>
        <% end %>
      <% end %>
    <% else %>
      <% if @item.stock < 11 %>
        <% number_array = [*(1..(@item.stock))] %>
      <% end %>
    <% end %>
    <%= f.select :quantity, number_array %>
    <%= f.submit "カートに追加する", class: "btn btn-primary" %>
    <% if logged_in? %>
      <div><%= hidden_field_tag 'cart_item[item_id]', @item.id %></div>
    <% end %>
  <% end %>
<% else %>
  <h2><div>在庫がありません</div></h2>
<% end %>
